bin/
obj/

*.log
*.cache

*.user
*.suo
*.vscode/

packages/
!packages/repositories.config

*.mdf
*.ldf
*.sqlite

appsettings.json
appsettings.Development.json
secrets.json

.vs/
*.vsconfig
*.csproj.user

.idea/
*.sln.iml

node_modules/
wwwroot/node_modules/

*.dbmdl
*.pdb
*.pidb
*.opendb

**/docker-compose.override.yml

*.dmp

publish/
out/
